:root {
  --bgblue: royalblue;
  --bglightblue: rgb(114, 147, 247,.7);
  --bgpink: deeppink;
  --bglightpink: rgb(253, 41, 154,.7);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* -------------------utilities-------------------------- */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/*-------------------------- custom scroll bar ---------------------- */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.795);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* ---------- body-------- */
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: linear-gradient(145deg, var(--bgblue), var(--bgpink));
}

/* --------------navigaton----------- */

#navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  /* z-index: 1; */
  width: 100%;
  padding: 10px;
  background-color: #000000cb;
  color: white;
}

#navitems {
  justify-content: space-between;
  padding: 5px 15px;
}
#logofornav {
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.iconLM {
  padding: 5px;
  font-size: 1.8rem;
}
/* #nav-ham{
  position: absolute;
} */
.nav-link {
  /* margin:10px; */
  padding: 15px;
  /* background-color: blue; */
}
.navlinks {
  margin: 2px 8px;
  padding: 5px;
  transition: all 0.8s;
  /* background-color: yellow; */
}
.navlinks:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 1px 3px;
  box-shadow: rgb(1, 255, 22) 2px 1px 2px;
}

/* ------------link  icons---------- */
.link-icons {
  font-size: 1rem;
  margin: 0px 3px;
}

/* -------------home-section------------- */
#Home-sec {
  height: 100vh;
  width: 100%;
  margin-top: 1.5rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* ------------side menu ------------  */
.menubtn {
  position: fixed;
  padding: 0.5rem;
  border-radius: 12px;
  background: #ffffff41;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  top: 45%;
  right: 0.5%;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.753);
  opacity: 0.2;
  z-index: 111;
  transition: all 0.3s;
}
.menubtn i {
  font-size: 1.28rem;
}
.menubtn:hover {
  opacity: 1;
}

.menubtn li:hover {
  color: black;
  scale: 1.18;
  margin: 3px;
}

.mainbox {
  width: 100vw;
  height: 80%;
  padding: 2rem;
  margin-top: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainimage {
  width: 30%;
  height: 100%;
  /* padding: 0.2rem; */
  overflow: hidden;
  background: transparent;
  border: 5px solid white;
  border-radius: 12px;
}
.mainimage img {
  height: 100%;
  width: 100%;
  border: none;
  object-fit: cover;
}

.health-tips {
  padding: 0.2rem;
  height: 100%;
  width: 55%;
  border-top: 5px solid rgba(0, 0, 0, 0.253);
  border-bottom: 5px solid rgba(0, 0, 0, 0.253);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#tipsheading {
  font-weight: bold;
  font-size: 1.4rem;
  font-style: math;
  text-transform: capitalize;
}
#health-tips-pera {
  padding: 0.3rem 0.6rem;
  width: 80%;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#quates {
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: math;
  color: white;
  border-bottom: 4px solid white;
  border-radius: 30%;
}

/* -------------------Service-section---------------- */

#Service-sec {
  height: 100vh;
  width: 100vw;
  /* margin-top: 1.5rem; */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-box {
  min-height: 100vh;
  width: 90vw;
  /* padding: 1.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 95%;
  width: 80%;
  background: #ffffff31;
  backdrop-filter: blur(12px);
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 12px;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */
  transition: all .3s;

}


.services li {
  width: 100%;
  padding: 0.2rem 0.4rem;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 10px;
  background: linear-gradient(30deg, var(--bglightpink),var(--bglightblue));
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.services img {
  width: calc(117px);
  height: calc(117px);
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  display: none;
}
.services li:hover img {
  display: block;
}

.services li a {
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services li a label {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 5px;
  border-top-right-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: -2px 2px 4px brown;
}
#Service-sec h2 {
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  transform: rotate(90deg);
  /* margin: 10px; */
  /* width:  55%; */
  padding: 0.4rem 0.6rem;
  border-radius: 0px 20px 0px 20px;
}

/* ------------------------exercise section starts ---------------- */

.exercise-sec {
  width: 100vw;
  min-height: 100vh;
  /* display: flex; */
  display:none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0%;
  left:0%;
  background-color: rgba(0, 0, 0, 0.092);
  backdrop-filter: blur(5px);
  z-index: 99;
}
.ex-container {
  height: 96vh;
  width: 98vw;
  border-radius: 10px;
  padding: 1rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* flex-wrap: wrap; */
  overflow:hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position:relative;
}

.ex-container img {
  width: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.ex-heading {
  font-size: 2rem;
  font-weight: bold;
}
.quates{
  font-size: 1.5rem;
  color: white;
  border-bottom: 2px solid white;
  border-radius: 30%;
  padding: .8rem;
  margin-bottom: 1rem;
}

.excercises-Content{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: .5rem;

}

.ex-Box{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:.4rem;
  padding: .6rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;

}
 .ex-Box span{
  font-size: 1.5rem;
  color: #000;
  text-shadow: 4px 4px 5px white;
  font-weight: bold ;
  font-family: Math;
 } 
.exContaiverExitBtn{
  cursor: leave;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 10px;
}
